@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$font-family-sans-serif:    'Open Sans', sans-serif;
$black: #000000;
$white: #FFFFFF;
$purple: #6B63B5;



