@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./mixin.scss";

body {
  background-color: $black;
  font-family: $font-family-sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 169px;
  height: 80px;
  margin: 30px 76px 0px 75px;
  .logo {
    width: 123.33px;
    height: 42px;
  }
  .firstText {
    color: $white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
}
.btnFilter {
  display: flex;
  width: 290px;
  height: 43px;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
  .btnPurple {
    @include btnPurple;
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin: 100px 0px 0px 0px;
  z-index: 1;
}
.cardMini {
  @include cardMini;
}
.photo {
  @include backgroundPhoto;
  .circule {
    width: 70px;
    height: 70px;
    border-radius: 69%;
  }
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 140px;
  height: 46px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.detail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 67px;
  font-weight: 600;
  font-size: 11px;
  color: #999999;
  margin: -8px 0px 0px 9px;
}
.bookMark {
  width: 30px;
  height: 32px;
  background: none;
  border: 0;
  margin-left: 30px;
  font-size: x-large;
  color: #999999;
}
.btnOptions {
  display: flex;
  top: 791px;
  position: fixed;
  width: 100vw;
  height: 36px;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  z-index: 2;
}
.btnPurpleDos {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 142px;
  height: 36px;
  background: $purple;
  border-radius: 4px;
  border: none;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  &:hover {
    background: $purple;
  }
  &:active {
    background: rgba(107, 99, 181, 0.6);
  }
  .icons {
    font-size: x-large;
  }
}
#modalTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}
.dataCharacterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .addData {
    height: 73px;
  }
}
.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  /* or 229% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* ◇ Light / Dark */

  color: #263238;
}
.radioGroup {
  width: 200px;
  height: 22px;
  justify-content: center;
  align-content: start;
  margin: 0px 0px 20px 0px;
}
.btnSave {
  @include btnPurple;
}
#dropdown-basic {
  &:hover {
    background: $purple;
  }
  &:active {
    background: rgba(107, 99, 181, 0.6);
  }
}
#options {
  width: 280px;
  background-color: $purple;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
